@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .projects {
    padding: 2px;
  }

  .project-content {
    padding: 5px;
  }

  .project-grid {
    grid-template-columns: 1fr; /* 1 kolumn på små skärmar */
  }

  .card-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}
