@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  h1 {
    font-size: 14px;
  }

  .projects {
    padding: 2px;
  }

  .project-content {
    padding: 5px;
    width: 100%;
  }

  .project-grid {
    min-width: 100%;
  }

  .project-card {
    width: 100%;
  }

  .card-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  .contact-box {
    width: 100%;
  }

  .contact-me-bottom {
    width: 100%;
  }

  .modal {
    flex-direction: column;
  }

  .modal-right,
  .modal-left {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .project-grid {
    grid-template-columns: 1fr; /* 1 kolumn på små skärmar */
  }
}
