* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", serif;
  --secondary-font: "Playfair Display", serif;
  --primary-color: #eae7dc;
  --secondary-color: #d8c3a5;
  --detail-color: #e85a4f;
  --accent-color: #cf613c;
  --font-color: #000;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  color: var(--detail-color);
  background-color: var(--primary-color);
}

.header h2 {
  font-family: var(--primary-font);
  font-size: 30px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 24px;
  font-family: var(--secondary-font);
}

.nav-link {
  padding: 5px 0px;
}

a {
  text-decoration: none;
  color: var(--detail-color);
}

a:hover {
  color: var(--accent-color);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--detail-color);
  display: block;
  border-radius: 2px;
}

.active {
  display: flex;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    flex-direction: column;
    width: 768px;
    display: none;
    padding: 1rem;
    z-index: 10;
    gap: 2px;
    animation: down 0.2s ease forwards;
  }

  .nav-link:hover {
    background-color: var(--primary-color);
    cursor: pointer;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger.open {
  animation: spin 0.4s ease forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes down {
  from {
    left: -1000px;
  }

  to {
    left: 0;
  }
}

.hero {
  background-color: var(--secondary-color);
  height: 600px;
  width: 100%;
  display: flex;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.profile-pic {
  width: 500px;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
  background: url("images/jag1.jpg") center no-repeat;
  background-size: cover;
  object-fit: contain;
}

.info h1 {
  font-size: clamp(34px, 2vw, 3rem);
  margin-bottom: 20px;
  font-family: var(--primary-font);
  color: var(--font-color);
}

.info h3 {
  font-size: clamp(24px, 1.4vw, 2rem);
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  color: var(--font-color);
}

button {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

.info-btn {
  width: 150px;
  height: 60px;
  padding: 10px 5px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  background: var(--detail-color);
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.view-projects {
  margin-right: 20px;
}

.info-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width: 900px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero {
    height: 800px;
  }
}

.section-1 {
  height: 600px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.section-1 h2 {
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
  color: var(--font-color);
}

.about-me > p {
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: var(--font-color);
  font-weight: bold;
}

.card-wrapper {
  display: flex;
  max-width: 1500px;
  height: 400px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.card p {
  font-size: 20px;
}

.card h4 {
  font-size: 24px;
}

.i-circle {
  background-color: var(--detail-color);
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.section-2 {
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title > h2 {
  font-size: 32px;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
  color: var(--font-color);
}

.projects-title > p {
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: var(--font-color);
}

.project-wrapper {
  width: 1300px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.project-card {
  max-width: 400px;
  height: 550px;
  border-radius: 15px;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: column;
}

.tech-stack {
  display: flex;
  justify-content: center;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--detail-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.code i {
  font-size: 16px;
}

.code a {
  color: var(--font-color);
}

/* .code a:hover {
  color: var(--detail-color);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
} */

.project-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-card-1 > .project-img {
  background: url("/images/bil2.jpg") center no-repeat;
  background-size: cover;
}

.project-card-2 > .project-img {
  background: url("/images/bil1.jpeg") center no-repeat;
  background-size: cover;
}

.project-card-3 > .project-img {
  background: url("/images/landscape-wallpaper.jpg") center no-repeat;
  background-size: cover;
}

.project-card h3,
.project-card p {
  padding: 5px 10px;
  margin: 20px 0px;
}

.project-card h3 {
  font-size: 24px;
}

.project-card p {
  font-size: clamp(16px, 0.6vw, 1rem);
}

.project-card span {
  background: var(--detail-color);
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 15px;
  color: #fff;
}

.section-3 {
  display: flex;
  justify-content: center;
  min-height: 700px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
  margin-top: -200px;
}

.content-wrapper > h2 {
  font-size: clamp(32px, 3vw, 1.2rem);
  color: var(--font-color);
  margin-top: 0;
}

.content-wrapper > p {
  font-size: 24px;
  color: var(--font-color);
}

.form-wrapper {
  width: 70%;
  display: flex;
  height: 400px;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: var(--secondary-font);
  color: var(--font-color);
}

input {
  height: 35px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  width: 80%;
}

textarea {
  font-size: 28;
  padding: 5px 10px;
  height: 150px;
  margin-bottom: 30px;
  width: 80%;
  font-size: 20px;
  font-family: var(--secondary-font);
}

.submit {
  background-color: var(--detail-color);
  color: #fff;
  height: 50px;
  padding: 10px;
}

.submit:hover {
  cursor: pointer;
}

.submit:active {
  transform: translateY(2px) scale(0.99);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
  color: var(--font-color);
}

.my-email,
.phone,
.location {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 35px;
  font-size: 20px;
}

.contact-i {
  background-color: var(--detail-color);
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-i i {
  font-size: 34px;
}
@media (max-width: 900px) {
  .card-wrapper {
    display: flex;
    height: 1200px;
    width: 100%;
    flex-direction: column;
  }

  .card {
    min-height: 200px;
    min-width: 400px;
  }

  .section-2 {
    margin-top: 400px;
  }

  .project-wrapper {
    display: flex;
    height: 1500px;
    width: 800px;
    flex-direction: column;
    justify-content: center;
  }

  .project-card h3,
  .project-card p {
    margin: 10px;
  }

  .section-3 {
    margin-top: 950px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: 800px;
  }

  .form,
  .contact {
    width: 500px;
  }
}

/* svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.86),
    #000102
  );
  z-index: -100;
} */

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in:nth-child(1) {
  transition: opacity 0.5s 0.1s ease-in;
}

.fade-in:nth-child(2) {
  transition: opacity 0.5s 0.3s ease-in;
}

.fade-in:nth-child(3) {
  transition: opacity 0.5s 0.5s ease-in;
}

.fade-in.appear {
  opacity: 1;
}
